.profile__button-editor {
  background: url(../../../images/profile_pen.svg);
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: 10px 10px;
  background-position: center;
  border: 1px solid #FFFFFF;
  margin-top: 15px;
  cursor: pointer;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0.1s;
  padding: 0;
}

.profile__button-editor:hover {
  opacity: 0.6;
}

@media screen and (max-width: 360px) {
  .profile__button-editor {
    width: 18px;
    height: 18px;
    margin-top: 8px;
    background-size: 7.5px 7.5px;
    transform: translate(19px);
  }

}
