.profile__content {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 1024px) {
  .profile__content {
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 524px) {
  .profile__content {
    flex-direction: column;
    align-items: center;
  }
}

