.elements__button {
  width: 22px;
  height: 19px;
  border: none;
  background: url(../../../images/element_heart.svg);
  margin: 5px 5px 1px 0;
  cursor: pointer;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0.1s;
}

.elements__button:hover {
  opacity: 0.5;
}
