.profile__info {
  display: grid;
  grid-template-columns: 1fr 24px;
  column-gap: 19.18px;
  margin-bottom: 7px;
}

@media screen and (max-width: 360px) {
  .profile__info {
    display: flex;
    column-gap: 10px;
    max-width: 217px;
    padding-left: 27px;
    align-items: center;
    margin-bottom: 8px;
  }
}
